<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="@Url.ActionLink("Index",controller:"AdminHome")" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
                <li><a href="@Url.ActionLink("Index",controller:"Brands")" class=""><i class="fa fa-apple"></i> <span>Brands</span></a></li>
                <li><a href="@Url.ActionLink("Index",controller:"Categories")" class=""><i class="fa fa-list-alt"></i> <span>Categories</span></a></li>
                <li><a href="@Url.ActionLink("Index",controller:"Items")" class=""><i class="fa fa-laptop"></i> <span>Items</span></a></li>
                <li><a href="@Url.ActionLink("Orderindex",controller:"Items")" class=""><i class="fa fa-opera"></i> <span>Orders</span></a></li>
                <li><a href="@Url.ActionLink("ContactUsindex",controller:"Items")" class=""><i class="fa fa-comments"></i> <span>Contact Us</span></a></li>

            </ul>
        </nav>
    </div>
</div>