 <!-- Top bar Start -->
<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                mhdabdullatif2016@gmail.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                0505-0764-7320
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->
<!-- Nav Bar Start -->
<div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="@Url.ActionLink("Index",controller:"Home")" class="nav-item nav-link">Home</a>
                    <a href="@Url.ActionLink("Shop",controller:"Home")" class="nav-item nav-link">Shop</a>
                    <a href="@Url.ActionLink("ContactUs",controller:"Home")" class="nav-item nav-link">Contact Us</a>                  
                </div>
                <div class="navbar-nav ml-auto">
                        <a href="@Url.ActionLink("Index",controller:"AdminHome")" style="color:white" class="nav-item nav-link active">Admin Panel</a>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                        <div class="dropdown-menu">
                            <a href="@Url.ActionLink("Register",controller:"Register")" class="dropdown-item">Register</a>
                            <a href="@Url.ActionLink("Login",controller:"Register")" class="dropdown-item">Login</a>                             
                        </div>
                    </div>
                </div>
            </div>
                </div>
        </nav>
    </div>
</div>

<!-- Nav Bar End -->
<!-- Bottom Bar Start -->
<div class="bottom-bar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div style="margin-left: 4rem;" class="logo">
                    <a href=@Url.ActionLink("Index",controller:"Home")>
                        <img style="max-height: 67px;" src="~/assets/img/Eida-designstyle-boots-m.png" alt="Logo">
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Search">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>           
        </div>
    </div>
</div>
<!-- Bottom Bar End -->