{
    ViewData["Title"] = "Brands";
}
@using Ecommerce.Vm;
@model IEnumerable<Ecommerce.Vm.ContactUs>;
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">Tables</h3>

            <div class="row">
                <div class="col-md-6" style="width: 100%;">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Items</h3>
                        </div>
                        <div class="dropdown" style="margin-top: -4rem;margin-left: 106rem;">
                            <a style="color: black" ; href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-submenu lnr lnr-chevron-down"></i> <span></span><span>More Options</span> </a>
                            <ul class="dropdown-menu" style="position: absolute;top: 100%;left: -68px;text-align: left;">
                                <li>
                                    <a href="@Url.ActionLink("Create_Items",controller:"Items")"><i class="fa fa-plus-square"></i> Create New Category </a>
                                </li>
                                <li>
                                    <a href="@Url.ActionLink("DeletedItems",controller:"Items")"><i class="fa lnr lnr-trash"></i> Trash </a>
                                </li>
                            </ul>
                        </div>
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Person Name</th>
                                        <th>Person Email</th>
                                        <th>Message Subject</th>
                                        <th>Message</th>
                                        <th style="position: relative;left: 2rem;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                          @foreach (var Order in Model)
                          {
                           <tr>
                            <td>@Order.FullName</td>
                            <td>@Order.Email</td>
                            <td>@Order.Subject</td>
                            <td>@Order.Message</td>                        
                        </tr>
                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
            </div>

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
