@{
    ViewData["Title"] = "Orders";
    ViewData["Active"] = true;
}

@using Ecommerce.Vm;
@model IEnumerable<Ecommerce.Vm.ChekoutVM>;
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <h3 class="page-title">
                <span style="color:darkslategrey">
                    @if (ViewBag.Title != null)
                    {
                        @ViewBag.Title}
                </span>
            </h3>


            <div class="row">
                <div class="col-md-6" style="width: 100%;">
                    <!-- TABLE HOVER -->
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">Orders</h3>
                        </div>                       
                        <div class="panel-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Item ID</th>
                                        <th>Order First Name</th>
                                        <th>Order Email</th>
                                        <th>Order Phone</th>
                                        <th style="width:10rem">Order Address</th>
                                        <th style="width:12rem">Order Country</th>
                                        <th style="width:10rem">Order City</th>
                                        <th style="width:12rem">Order ZIp Code</th>
                                        <th style="width:10rem">Order Status</th>
                                        <th style="position: relative;left: 2rem;">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Order in Model)
                                    {
                                    <tr>
                                        <td>@Order.Id</td>
                                        <td>@Order.ItemId</td>
                                        <td>@Order.FirstName</td>
                                        <td>@Order.Email</td>
                                        <td>@Order.Phone</td>
                                        <td>@Order.Address</td>
                                        <td>@Order.Country</td>
                                        <td>@Order.City</td>
                                        <td>@Order.ZIPCode</td>
                                        <td> @Order.OrderStatus</td>
                                        <td>
                                            <form action="ChangeOrderStatus">
                                                <input type="hidden" name="id" value="@Order.Id" />
                                                <div class="dropdown">
                                                    <select onchange="this.form.submit()" name="status">
                                                        <!option value="@OrderStatus.Pending" @(Order.OrderStatus == OrderStatus.Pending ? "Selected" : "")>
                                                            Pending
                                                        <!option value="@OrderStatus.Preparation" @(Order.OrderStatus == OrderStatus.Preparation ? "Selected" : "")>
                                                            Preparation
                                                        </!option>
                                                        <!option value="@OrderStatus.Delivery" @(Order.OrderStatus == OrderStatus.Delivery ? "Selected" : "")>
                                                            Delivery
                                                        </!option>
                                                        <!option value="@OrderStatus.AtAddress" @(Order.OrderStatus == OrderStatus.AtAddress ? "Selected" : "")>
                                                            AtAddress
                                                        </!option>
                                                    </select>
                                                </div>

                                            </form>
                                        </td>
                                    </tr>
}


                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- END TABLE HOVER -->
                </div>
            </div>

        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
