@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Home Page";

@model Ecommerce.Vm.HomeVM;
}
<!-- Main Slider Start -->
<div class="header">
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <nav class="navbar bg-light">
              

                <ul class="navbar-nav">
                    @foreach (var Category in Model.ListCategoryItems)
                    {
                    <li class="nav-item">
                        <a class="nav-link" 
                           href="@Url.ActionLink("GetItemByCategory", "Home", new {id=Category.Id})"><img style="width:24px;height:24px" src="~/Imageuploads/Categories/@(Category.ImageId).png" alt="Product Image"><span> - </span>@Category.Name</a>
                       
                    </li>
                    }
                </ul>
            </nav>
        </div>
       
        <div class="col-md-6">
            <div class="header-slider normal-slider">
                <div class="header-slider-item">
                    <img style="width: 42rem; height: 25rem;" src="~/assets/img/banner_1619658851edf92d0b3ccb5fede42e9ec83b6718c7.jpeg" alt="Slider Image" />
                   
                </div>
                <div class="header-slider-item">
                    <img style="width: 44rem; height: 25rem;" src="~/assets/img/banner_1620634691950f9879040432515ff98487b2dab2fc.jpeg" alt="Slider Image" />
                   
                </div>
                <div class="header-slider-item">
                    <img style="width: 44rem; height: 25rem;" src="~/assets/img/20-Off-Promo_June-2021_blog-banner.jpg" alt="Slider Image" />
                   
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="header-img">
                <div class="img-item">
                    <img src="~/assets/img/best_laptops_thumb800.jpg" alt="Slider Image" />
                    <a class="img-text" href="@Url.ActionLink("Shop", "Home")">
                        <p>You can buy your Dream Computer</p>
                    </a>
                </div>
                <div class="img-item">
                    <img src="~/assets/img/gsmarena_001.jpg" alt="Slider Image" />
                    <a class="img-text" href="@Url.ActionLink("Shop", "Home")">
                        <p>You can buy your Dream Phone</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
                </div>
</div>
<!-- Main Slider End -->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            @foreach (var Brands in Model.ListBrands)
            {
            <a href="@Url.ActionLink("GetItemByBrand", "Home", new {id=Brands.Id})"><div class="brand-item"><img class="fa-circle" style="height:90px;width:120px;" src="~/Imageuploads/Brands/@(Brands.ImageId).png" /></div></a>            }
        </div>
    </div>
</div>
<!-- Brand End -->
<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fab fa-cc-mastercard"></i>
                    <h2>Secure Payment</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Worldwide Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-sync-alt"></i>
                    <h2>90 Days Return</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-comments"></i>
                    <h2>24/7 Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur elit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->
<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="~/assets/img/bfarsace_201106_4269_012.0.jpg" />
                    <a class="category-name" href="@Url.ActionLink("Shop", "Home")">
                        <p>Buy Your Dream Phome</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-250">
                    <img src="~/assets/img/lg-note-20-ultra-5g-iphone-11-se-google-pixel-4a-lg-velvet-6133.png" />
                    <a class="category-name" href="@Url.ActionLink("Shop", "Home")">
                        <p>Tou Can Buy any Phone tou want</p>
                    </a>
                </div>
                <div class="category-item ch-150">
                    <img src="~/assets/img/iphone-11-review-1709.png" />
                    <a class="category-name" href="@Url.ActionLink("Shop", "Home")">
                        <p>Buy Iphone 11 Now</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-150">
                    <img src="~/assets/img/sasasdindex.jpg" />
                    <a class="category-name" href="@Url.ActionLink("Shop", "Home")">
                        <p>You can buy your Dream Laptop</p>
                    </a>
                </div>
                <div class="category-item ch-250">
                    <img src="~/assets/img/laptops-a_425_735.jpg" />
                    <a class="category-name" href="@Url.ActionLink("Shop", "Home")">
                        <p>You can buy any type of laptops you want</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="category-item ch-400">
                    <img src="~/assets/img/1622470414596.jpg" />
                    <a class="category-name" href="@Url.ActionLink("Shop", "Home")">
                        <p>Yor Perfect Laptop! Buy it Now</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Category End-->
<!-- Call to Action Start -->
<div class="call-to-action">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h1>Call us for any queries</h1>
            </div>
            <div class="col-md-6">
                <a href="tel:0123456789">+0505-0764-7320</a>
            </div>
        </div>
    </div>
</div>
<!-- Call to Action End -->
<!-- Featured Product Start -->
<div class="featured-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Featured Product</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @foreach (var items in Model.ListItems)
            {
                <div class="col-lg-3">

                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@items.Name</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img style="width:330px;height:295px" src="~/Imageuploads/Items/@(items.ImageId).png" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="@Url.ActionLink("Detail","Home", new {id=items.Id})"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>@items.Price</h3>
                            <a class="btn" href="@Url.ActionLink("Checkout","Home", new {id=items.Id})"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
</div>
<!-- Featured Product End -->
<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h1>Subscribe Our Newsletter</h1>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <input type="email" value="Your email here">
                    <button>Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter End -->
<!-- Recent Product Start -->
<div class="recent-product product">
    <div class="container-fluid">
        <div class="section-header">
            <h1>Recent Product</h1>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            @foreach (var items in Model.ListCollections)
            {
                <div class="col-lg-3">
                   
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@items?.Name</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img style="width:330px;height:295px" src="~/Imageuploads/Items/@(items?.ImageId).png" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="@Url.ActionLink("Detail","Home", new {id=items.Id})"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>@items?.Price</h3>
                            <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>


                </div>
            }
        </div>
    </div>
</div>
<!-- Recent Product End -->
 