@{ Layout = "_UserLayout";

@model Ecommerce.Vm.HomeVM;
}
<!-- Product List Start -->
<div class="product-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-view-top">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="product-search">
                                        <input type="email" value="Search">
                                        <button><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-short">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">Newest</a>
                                                <a href="#" class="dropdown-item">Popular</a>
                                                <a href="#" class="dropdown-item">Most sale</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="product-price-range">
                                        <div class="dropdown">
                                            <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a href="#" class="dropdown-item">$0 to $50</a>
                                                <a href="#" class="dropdown-item">$51 to $100</a>
                                                <a href="#" class="dropdown-item">$101 to $150</a>
                                                <a href="#" class="dropdown-item">$151 to $200</a>
                                                <a href="#" class="dropdown-item">$201 to $250</a>
                                                <a href="#" class="dropdown-item">$251 to $300</a>
                                                <a href="#" class="dropdown-item">$301 to $350</a>
                                                <a href="#" class="dropdown-item">$351 to $400</a>
                                                <a href="#" class="dropdown-item">$401 to $450</a>
                                                <a href="#" class="dropdown-item">$451 to $500</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var items in Model.ListItems)
                    {
        <div class="col-md-4">
            <div class="product-item">
                <div class="product-title">
                    <a href="#">@items.Name</a>
                    <div class="ratting">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="product-image">
                    <a href="product-detail.html">
                        <img style="width:330px;height:295px" src="~/Imageuploads/Items/@(items.ImageId).png" alt="Product Image">
                    </a>
                    <div class="product-action">
                        <a href="#"><i class="fa fa-cart-plus"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                        <a href="@Url.ActionLink("Detail", "Home", new { id = items.Id })"><i class="fa fa-search"></i></a>
                    </div>
                </div>
                <div class="product-price">
                    <h3><span>$</span>@items.Price</h3>
                    <a class="btn" href="@Url.ActionLink("Checkout", "Home", new { id = items.Id })"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                </div>
            </div>
        </div>}
                </div>

           
            </div>

            <!-- Side Bar Start -->
            <div class="col-lg-4 sidebar">
                <div class="sidebar-widget category">
                    <h2 class="title">Category</h2>
                    <nav class="navbar bg-light">
                        <ul class="navbar-nav">
                            @foreach (var Category in Model.ListCategoryItems)
                            {
                <li class="nav-item">
                    <a class="nav-link" href="#"><img style="width:24px;height:24px" src="~/Imageuploads/Categories/@(Category.ImageId).png" alt="Product Image"><span> - </span>@Category.Name</a>

                </li>}
                        </ul>
                    </nav>
                </div>
                <div class="sidebar-widget widget-slider">


                    <div class="sidebar-slider normal-slider">
                        @foreach (var items in Model.ListItems)
                        {
                    <div class="product-item">
                        <div class="product-title">
                            <a href="#">@items.Name</a>
                            <div class="ratting">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="product-image">
                            <a href="product-detail.html">
                                <img style="width:330px;height:295px" src="~/Imageuploads/Items/@(items.ImageId).png" alt="Product Image">
                            </a>
                            <div class="product-action">
                                <a href="#"><i class="fa fa-cart-plus"></i></a>
                                <a href="#"><i class="fa fa-heart"></i></a>
                                <a href="@Url.ActionLink("Detail", "Home", new { id = items.Id })"><i class="fa fa-search"></i></a>
                            </div>
                        </div>
                        <div class="product-price">
                            <h3><span>$</span>@items.Price</h3>
                            <a class="btn" href="@Url.ActionLink("Checkout", "Home", new { id = items.Id })"><i class="fa fa-shopping-cart"></i>Buy Now</a>
                        </div>
                    </div>}
                    </div>
                </div>
                
                <div class="sidebar-widget brands">
                    <h2 class="title">Our Brands</h2>
                    <ul>
                        @foreach (var Brands in Model.ListBrands) {
                    <li><a href="#">@Brands.Name </a></li>
                        }
                    </ul>
                </div>

                <div class="sidebar-widget tag">
                    <h2 class="title">Tags Cloud</h2>
                    <a href="#">Lorem ipsum</a>
                    <a href="#">Vivamus</a>
                    <a href="#">Phasellus</a>
                    <a href="#">pulvinar</a>
                    <a href="#">Curabitur</a>
                    <a href="#">Fusce</a>
                    <a href="#">Sem quis</a>
                    <a href="#">Mollis metus</a>
                    <a href="#">Sit amet</a>
                    <a href="#">Vel posuere</a>
                    <a href="#">orci luctus</a>
                    <a href="#">Nam lorem</a>
                </div>
            </div>
            <!-- Side Bar End -->
        </div>
    </div>
</div>
<!-- Product List End -->
<!-- Brand Start -->
<div class="brand">
    <div class="container-fluid">
        <div class="brand-slider">
            @foreach (var Brands in Model.ListBrands)
            {
        <div class="brand-item"><img class="fa-circle" style="height:90px;width:120px;" src="~/Imageuploads/Brands/@(Brands.ImageId).png" /></div>
            }
                    </div>
    </div>
</div>
<!-- Brand End -->